/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    box-sizing: border-box;
}

body * {
    box-sizing: inherit;
}

/* HERO */

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px;
}

.hero-content h1 {
    font-family: "Yeseva One", serif;
    font-size: 3rem;
    margin-bottom: 0;
}

.hero-content h2 {
    font-size: 1.5rem;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-buttons a {
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 5px;
    transition: background-color, color 0.5s;
}

.hero-buttons a:hover {
    cursor: pointer;
    color: white;
}

.hero-buttons a:hover:nth-child(1) {
    background-color: #E76F51;
}

.hero-buttons a:hover:nth-child(2) {
    background-color: #F4A261;
}

.hero-buttons a:hover:nth-child(3) {
    background-color: #e1bb5f;
}

.hero-buttons a:hover:nth-child(4) {
    background-color: #2A9D8F;
}

/* BODY */

main > div {
    display: inline-block;
    padding: 0 100px;
}

/* Adjust padding on the titles and text, not got it right yet */
main h2 {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 2rem;
    margin: 0;
}

main p {
    padding: 1rem 0 2rem 0;
    margin: 0;
}

/* add some extra stuff above + below maybe? */
main blockquote {
    margin: 0;
    text-align: center;
    font-style: italic;
    padding: 3rem 0;
    font-size: 2rem;
}

#about-me {
    background-color: #E76F51;
}

#quote {
    background-color: #F4A261;
    width: 100%;
}

#experience {
    background-color: #e1bb5f;
}

#manifesto {
    background-color: #2A9D8F;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#manifesto h2 {
    text-align: center;
}

.manifesto-inner {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;
    padding: auto 0;
}

#vote-now {
    background-color: #ff004f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vote-content {

}

a.vote-button {
    background-color: white;
    color: black;
    padding: 1rem 1.5rem;
    text-decoration: none;
    margin: 5px;
    transition: background-color, color 0.5s;
}

a.vote-button:hover {
    background-color: #264653;
    color: white;
}

/* FOOTER */

footer {
    padding: 15px;
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
    font-size: 2rem;
}

footer li {
    margin-left: 10px;
}

.footer-text {
    margin-bottom: 0;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
    main > div {
        padding: 0 70px;
    }

    .manifesto-inner {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 768px) {
    main > div {
        padding: 0 50px;
    }
}

@media screen and (max-width: 480px) {
    main > div {
        padding: 0 15px;
    }
}