body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(hero.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
    text-align: center;
    margin: 15px;
}

.hero-content h1 {
    font-family: "Yeseva One", serif;
    font-size: 3em;
    margin-bottom: 0;
}

.hero-content h2 {
    font-size: 1.5em;
}

.hero-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-buttons a {
    background-color: white;
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    margin: 5px;
    transition: background-color, color 0.5s;
}

.hero-buttons a:hover {
    cursor: pointer;
    color: white;
}

.hero-buttons a:hover:nth-child(1) {
    background-color: #E76F51;
}

.hero-buttons a:hover:nth-child(2) {
    background-color: #F4A261;
}

.hero-buttons a:hover:nth-child(3) {
    background-color: #E9C46A;
}

.hero-buttons a:hover:nth-child(4) {
    background-color: #2A9D8F;
}

main > div {
    padding: 15px;
}

main h2 {
    margin-top: 0;
}

main > div > :last-child {
    margin-bottom: 0;
}

#about-me {
    background-color: #E76F51;
}

#quote {
    background-color: #F4A261;
    padding: 10vh 5vw 10vh 5vw;
}

.blockquote {
    margin: 0;
}

#my-experience {
    background-color: #E9C46A;
}

#manifesto {
    background-color: #2A9D8F;
}

#vote-now {
    background-color: #264653; /* can we swap this for an image? */
    padding: 10vh 5vw 10vh 5vw; /* can and probably should tweak this sizing */
}

#share {
    background-color: #2A9D8F;
}

footer {
    padding: 15px;
    background-color: #264653;
}

.footer-text {
    margin-bottom: 0;
}